<!DOCTYPE html>
<html>
<head>
    <title>Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Usuários Cadastrados</h1>

    {% if usuarios %}
        {% for u in usuarios %}
            <div class="user">
                <strong>{{ u.nome }}</strong><br>
                {{ u.email }}
            </div>
        {% endfor %}
    {% else %}
        <p>Nenhum usuário cadastrado.</p>
    {% endif %}

    <div class="footer">
        <a href="{{ url_for('cadastro_usuario') }}">Cadastrar novo</a><br><br>
        <a href="{{ url_for('excluir_usuario') }}">Excluir usuário<br><br></a>
        <a href="{{ url_for('landing_page') }}">Voltar para o início</a>
       

    </div>
</div>
</body>
</html>
